section#portfolio{
  position : fixed;
  top : 0px;
  left : 0px;
  overflow : hidden;
  background: #fff;
  width : 100vw;
  height : 100vh;

  section.portfolio-area{
    position : fixed;
    top : 0px;
    left : 0px;
    width : 100vw;
    height : 100vh;

    div.area-cover {
      position : fixed;
      top : 0px;
      width : 100vw;
      height : 100vh;
      background-size : cover;
      background-position : center center;
      background-repeat : no-repeat;

      border-top : 0px solid #fff;

      div.white-layer {
        position : absolute;
        top : 0px;
        left : 0px;
        width : 100vw;
        height: 100vh;
        background : rgba(255,255,255,1);
        opacity : 0;
      }
    }

    div.area-details {
      background : #fff;
      width: 100vw;
      left : 0vw;
      padding : 3vh;
      position : absolute;
      top : 90vh;
      z-index : 3;

      div.scroll-down {
        position : absolute;
        font-family: 'adobe-garamond-pro';
        font-size : 20px;
        color : #000;
        text-align: center;
        width : 30vh;
        margin : 0 auto;
        margin-top : -10vh;
        left : 50%;
        margin-left : -15vh;

        svg {
          width : 9px;
          height : 9px;
          transform: rotate(90deg) translate(0px,-6px)

        }
      }

      h2 {
        font-size : 20px;
        font-family: 'adobe-garamond-pro';
        font-weight: bold;
        text-align: center;
        width : 100%;
        display: block;
        position : relative;
        color : #000;
      }

      div.content {
        display : block;
        float : left;
        font-size: 20px;
        font-family: 'adobe-garamond-pro';
        font-style: italic;
        width : 100%;
        text-align: center;
        margin-top : 2.5vh;
        color : #000;
      }
    }

    div.area-photos {
      position : absolute;
      top : 100vh;

      div.photo-item {
        position : relative;
        display : block;
        float : left;
        width : 100vw;
        height : 100vh;

        background-color : #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size : contain;

        &:last-child {
          //-bottom : 2px solid #fff;
        }


        div.bar {
          top : 50%;
          height : 1px;
          width : 30vw;
          left : 35vw;
          background : rgba(0,0,0,0.3);
          position : relative;

          div.percentage{
            display : block;
            background : #000;
            width : 30vw;
            height : 1px;
            transform-origin: 0px 0px;

            transform : scaleX(0);
          }
        }

        div.photo-real {
          position : absolute;
          top : 0px;
          left : 0px;
          width : 100vw;
          height : 100vh;

          background-repeat: no-repeat;
          background-position: center;
          background-size : contain;
          opacity : 0;
        }
      }
    }
  }
}






@media screen and (max-width : 1000px){
  section#portfolio{
    width : 100vw;
    height : 100vh;
    position : absolute;
    display : block;


    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;



    section.portfolio-area{
      width : 100vw;
      height : auto;
      display : block;
      position : relative;
      float : left;

      div.area-cover {
        width : 100vw;
        height : 100vh;
        display : block;
        float : left;
        position : relative;
      }

      div.area-details {
        width: 100vw;
        left : 0vw;
        padding : 6vh;
        position : absolute;
        top : 90vh;
        z-index : 3;
        display : block;
        float : left;

        div.scroll-down {
          position : absolute;
          font-family: 'adobe-garamond-pro';
          font-size : 2.5vw;
          color : #000;
          text-align: center;
          width : 50vh;
          margin : 0 auto;
          margin-top : -15vh;
          left : 50%;
          margin-left : -25vh;

          svg {
            width : 1vw;
            height : 1vw;
            transform: rotate(90deg) translate(0px,-1vw)

          }
        }

        h2 {
          font-size : 2.5vw;
        }

        div.content {
          font-size: 2.5vh;
          margin-top : 2.5vh;
        }
      }

      div.area-photos {
        position : relative;
        top : 0px;
        display : block;
        float : left;

        div.photo-item {
          width : 100vw;
          height : 100vh;
          display : block;
          float : left;
          position : relative;

          &:last-child {
            //-bottom : 2px solid #fff;
          }


          div.bar {
            top : 50%;
            height : 1px;
            width : 30vw;
            left : 35vw;
            background : rgba(0,0,0,0.3);
            position : relative;

            div.percentage{
              display : block;
              background : #000;
              width : 30vw;
              height : 1px;
              transform-origin: 0px 0px;

              transform : scaleX(0);
            }
          }

          div.photo-real {
            position : absolute;
            top : 0px;
            left : 0px;
            width : 100vw;
            height : 100vh;

            background-repeat: no-repeat;
            background-position: center;
            background-size : contain;
            opacity : 0;
          }
        }
      }
    }
  }
}
