div.main-menu {
  position : absolute;
  display : block;
  float : left;


  div.left-column {
    position : fixed;
    top : 46vh;
    left : 5vw;

    h1 {
      font-size : 0px;
      display : block;
      float : left;

      svg {
        height: 8vh;
        width : 8vh * 3.93;

        path {
          transition: fill 0.5s linear;
        }
      }
    }

    a.back {
      font-family: 'adobe-garamond-pro';
      color : #000;
      font-size : 20px;
      padding-top : 3.9vh;
      padding-bottom : 3.9vh;
      display : block;
      padding-left : 3vh;
      transition : color 0.5s linear;
      margin-top : 10vh;
      margin-left : 1.2vh;
      position : absolute;
      float : left;

      span:not(:first-child){
        color : #fff;
        position : absolute;
        top : 3.9vh;
        background : #000;
        padding-left : 1vh;
        margin-left : -1vh;
        left : 3vh;
      }
    }

    nav.main-nav {
      display : block;
      float : left;
      position : relative;
      clear : both;

      ul {
        margin-top : 5vh;
        li {
          position : relative;
          clear : both;
          float : left;

          a {
            font-family: 'adobe-garamond-pro';
            color : #000;
            font-size : 20px;
            padding-top : 3.9vh;
            padding-bottom : 3.9vh;
            display : block;
            padding-left : 3vh;
            transition : color 0.5s linear;

            &.selected {
              pointer-events : none;
            }


            span:not(:first-child){
              color : #fff;
              position : absolute;
              top : 3.9vh;
              background : #000;
              padding-left : 1vh;
              margin-left : -1vh;
              left : 3vh;
            }
          }

          &.spacer {
            display : block;
            width : 3vh;
            height: 1px;
            background : #000;
            transition : background 0.5s linear;
          }
        }
      }
    }
  }


  nav.categories-nav {
    position : fixed;
    top : 10vh;
    left : 25vw;

    ul {
      display : inline-block;
      float : left;
      position : relative;

      li {
        display: inline-block;
        float : left;
        padding : 0px 2vw;

        a {
          font-size: 20px;
          font-family: 'adobe-garamond-pro';
          text-align : center;
          display : block;
          float : left;
          position : relative;
          width : 100%;
          color : #000;

          &.selected {
            pointer-events : none;
          }

          span:not(:first-child){
            color : #fff;
            position : absolute;

            background : #000;
            margin-left : -1vh;
            left : 0px;
          }
        }
      }
    }
  }
}
