@import "base/normalize.scss";
@import "base/fonts.scss";


html,body {
  position : relative;
  display : block;
  float : left;
  width : 100%;
  background: #ffffff;
  overflow-x : hidden;
  overflow-y : scroll;

}

#app {
  display : block;
  float : left;
  position : relative;

  width : 100%;
  min-height : 100vh;

  div.site-wrapper {
    position : relative;
    display : block;
    float : left;
    width : 100%;
    min-height : 100%;

    div.section-container {
      position : absolute;
      top : 0px;
    }
  }

  &.white{
    span {
      color : #ffffff !important;
    }

    span+span {
      color : #000000 !important;
      background : #ffffff !important;
    }
    li.spacer {
      background : #ffffff !important;
    }
    div.links div.spacer {background : #ffffff !important;}
    div.languages div.spacer {color : #ffffff !important;}
    //div.scroll-down { color : #ffffff !important;}
    a {
      color : #ffffff !important;
    }
    svg {
      path {
        fill : #ffffff !important;
      }
    }

    div.scroll-down { svg path {fill : #000000 !important;}}
  }
}

#preloader {
  position : fixed;
  top : 0px;
  left : 0px;
  width : 100vw;
  height : 100vw;
  display : block;

  svg#logo-preloader {
    position : absolute;
    height: 8vh;
    width : 8vh * 3.93;
    top : 46vh;
    left : 5vw;
    path{fill : #000000 !important; transition : fill 0.3s linear;}
  }

  div.bar {
    position : absolute;
    top : 0px;
    width : 100vw;
    height : 3px;
    background : rgba(0,0,0,0.2);
    transform-origin: 0px 0px;
    left : 0px;

    div.percentage {
      position : absolute;
      top : 0px;
      left : 0px;
      transform-origin: 0px 0px;
      background : #000;
      width : 100vw;
      height : 3px;
    }
  }
}

div.background-container {
  position : fixed;
  top : 0px;
  left : 0px;

  div.backgrounds {
    position : absolute;
    display : block;
    width : 100vw;
    height : 100vh;
  }

  div.image-item {
    position : absolute;
    width : 100vw;
    height : 100vh;
    background-position: center;
    background-size : cover;
  }

  div.white-layer {
    position : absolute;
    top : 0px;
    left : 0px;
    width : 100vw;
    height : 100vh;

    background : rgba(255,255,255,0.78);
  }
}


div.links {
  position : fixed;
  bottom : 5vh;
  left : 5vw;
  width : 50vw;
  opacity : 0;
  transition : opacity 1s linear;

  div.spacer {
    display : inline-block;
    float : left;
    position : relative;
    width : 1px;
    height : 15px;
    background : #000;
    margin-left : 30px;
    margin-right : 30px;
  }

  a {
    font-family: 'adobe-garamond-pro';
    font-style: italic;
    color : #000;
    font-size : 16px;
    display : inline-block;
    transition : color 0.5s linear;
    position : relative;
    float : left;
    cursor : pointer;

    &:hover{
      text-decoration: underline;
    }
  }
}

.screen-changes-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.screen-changes-enter.screen-changes-enter-active {
  opacity: 1;
}

.screen-changes-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.screen-changes-leave.screen-changes-leave-active {
  opacity: 0;
}


div#rotate-layer {
  position : absolute;
  top : 0px;
  z-index : 9999;
  top : 0px;
  left : 0px;
  display : block;
  width : 100vw;
  height : 100vh;
  background: #fff;
  display : none;

  svg {
    transform : scaleX(-1) translateX(50%);
    width : 50vw;
    left : 50%;
    position : relative;
    display : block;
    float : left;
    margin-top : 30vh;
  }

  p {
    font-size : 6vw;
    font-family: 'adobe-garamond-pro';
    position : relative;
    width : 60vw;
    left : 20vw;
    clear : both;
    float : left;
    display : block;
    text-align: center;
    margin-top : 10vh;
  }
}

@media screen and (max-width : 1000px){
  html,body {
    overflow : hidden;
  }

  #preloader {

    svg#logo-preloader {
      height: 10vh;
      width : 10vh * 3.93;
      left : 2vw;
    }
  }



  div.links {
    bottom : 5vh;
    left : 3vw;
    width : 30vw;

    div.spacer {
      margin-left : 3vw;
      margin-right : 3vw;
    }

    a {
      font-size : 2.5vw;
      display : inline-block;
      transition : color 0.5s linear;
      position : relative;
      float : left;
      cursor : pointer;

      &:hover, &:active{
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width : 1000px) and (orientation : portrait){
  div#rotate-layer {
    display : block;
  }
}

@import "components/menu.scss";
@import "sections/about.scss";
@import "sections/contact.scss";
@import "sections/portfolio.scss";
